node_modules
packages/*/dist
packages/*/node_modules
packages/superconnectx-mcp/npm-shrinkwrap.json
dist
out
.DS_Store
.eslintcache
*.log*
release
ICON.pptx
tests/coverage
tests/report
.txt
*.tsbuildinfo
